
#tiposConceptosIngresos{
    border-radius: 10px;
}

#tiposConceptosGastos{
    border-radius: 10px;
}


#semana{
    border-radius: 10px;
}

#periodo{
    border-radius: 10px;
}

#area{
    border-radius: 10px;
}


#fechaInicial{
    border-radius: 10px;
}

#fechaFinal{
    border-radius: 10px;
}


#gastos{
    text-align: center;
    font-weight:bold;
    color: red;
}
