
#tiposConceptosIngresos{
    border-radius: 10px;
}

#tiposConceptosGastos{
    border-radius: 10px;
}


#semana{
    border-radius: 10px;
}

#periodo{
    border-radius: 10px;
}

#area{
    border-radius: 10px;
}


#fechaInicial{
    border-radius: 10px;
}

#fechaFinal{
    border-radius: 10px;
}


#gastos{
    text-align: center;
    font-weight:bold;
    color: red;
}

#resultado{
    text-align: center;
    font-weight: bold;
    font-size: 1.3pc;
}

.pading{
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(183, 233, 229);
    color: black;
}

.ftable{
    font-weight:bold;
    background-color: rgb(183, 233, 229);
    font-size: 1pc;
}
