

#PrimerNombre{
    border-radius: 10px;
}

#SegundoNombre{
    border-radius: 10px;
}

#PrimerApellido{
    border-radius: 10px;
}

#SegundoApellido{
    border-radius: 10px;
}

#FechaNacimiento{
    border-radius: 10px;
}

#Telefono{
    border-radius: 10px;
}

#Direccion{
    border-radius: 10px;
}

#tipoPersona{
    border-radius: 10px;
}


