
#TiposConcepto{
    border-radius: 10px;
}

#semana{
    border-radius: 10px;
}

#area{
    border-radius: 10px;
}

#monto{
    border-radius: 10px;
}

#fechaCreacion{
    border-radius: 10px;
}

#referencia{
    border-radius: 10px;
}

#comentario{
    border-radius: 10px;
}


#gastos{
    text-align: center;
    font-weight:bold;
    color: red;
}

#igresos{
    text-align: center;
    font-weight:bold;
    color: red;
}