

<div id="formulario" class="container-fluid">
  <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-8">
            
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <div class="form-group">
                            <label for="controlCodigo">Codigo</label>
                            <input type="text" 
                            [(ngModel)]="tipoConcepto.Codigo"  
                            class="form-control" 
                            name="codigo"
                            ng >
                        </div>
                   </div>
    
                   <div class="col-xs-4 col-sm-4 col-md-6">
                        <div class="form-group">
                            <label for="controlDescripcion">Descripcion</label>
                            <input type="text" 
                            [(ngModel)]="tipoConcepto.Descripcion" 
                            class="form-control" 
                            name="descripcion"
                            required >
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="form-group">
                                <label for="controlTiposGastos">Tipos de Gastos</label>
                                <select class="form-control" id="tiposGastos" [(ngModel)]="tipoConcepto.TipoGastoId"  required>
                                    <option *ngFor="let item of tiposGastos" [value]="item.Id">{{item.Descripcion}}</option>
                                </select>
                            </div>
                        </div>
              
            </div>
  </div>

  <div class="row">
        <div class="col-xs-8 col-sm-4 col-md-4">
                    <div class="col-xs-8 col-sm-4 col-md-2">
                      <button (click)="agregarTipoConcepto()" class="btn btn-primary" id="agregarTipoConcepto">Agregar</button>
                    </div>

                   <div class="col-xs-8 col-sm-4 col-md-2">
                     <button (click)="actualizarTipoConcepto()" class="btn btn-primary"  id="actualizarTipoConcepto">Actualizar</button>
                    </div>
              
            </div>
  </div>


</div>



<br>
<br>
<br>
<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
[dtTrigger]="dtTrigger" id="datatable">
<thead>
  <tr>
    <th>Editar</th>
    <th>Eliminar</th>
    <th>Codigo</th>
    <th>Descripcion</th>
    <th>Gasto al que pertenece</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let tiposConcepto of tiposConceptos">
    <td> <button id="editar" (click)="editarTipoConcepto(tiposConcepto.Id)" class="btn btn-primary">Edit</button> </td>
    <td> <button id="Eliminar" (click)="eliminarTipoConcepto(tiposConcepto.Id)" class="btn btn-danger">Elim</button> </td>
    <td>{{ tiposConcepto.Codigo }}</td>
    <td>{{ tiposConcepto.Descripcion }}</td>
    <td>{{ tiposConcepto.TiposGastos.Descripcion }}</td>
  </tr>
</tbody>
</table>