
#codigo{
    border-radius: 10px;
}

#descripcion{
    border-radius: 10px;
}

#tiposGasto{
    border-radius: 10px;
}

#tiposIngresos{
    border-radius: 10px;
}


#gastos{
    text-align: center;
    font-weight:bold;
    color: red;
}

#igresos{
    text-align: center;
    font-weight:bold;
    color: red;
}

.class-style{
    color: red;
    font-weight: bold;
    font-size: 20px;
}